DOMAIN=annaisilverjewellery.com
APP_PORT=8080

DB_NAME=annai_jewellery
DB_USER=annai_app
DB_PASSWORD=CHANGE_TO_A_LONG_RANDOM_DATABASE_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_TO_A_DIFFERENT_LONG_RANDOM_ROOT_PASSWORD

GMAIL_USER=annaisilverjewellerytky@gmail.com
GMAIL_APP_PASSWORD=PASTE_A_NEW_16_CHARACTER_GMAIL_APP_PASSWORD
ADMIN_ORDER_EMAIL=annaisilverjewellerytky@gmail.com

SEED_ADMIN_NAME=Annai Silver Jewellery
SEED_ADMIN_EMAIL=annaisilverjewellerytky@gmail.com
ADMIN_RECOVERY_EMAIL=annaisilverjewellerytky@gmail.com
SEED_ADMIN_PASSWORD=CHANGE_TO_A_STRONG_ADMIN_PASSWORD

ADMIN_SESSION_HOURS=12
USER_SESSION_HOURS=168
TRUST_PROXY_HOPS=2
